<%- include('layout', {theme}) %>

    <body>
        <main>
            
            <form action = "/addExperience" method = "POST">
            <div class="card" value = "addExperience">
                <div class="card-content" value="addExperience">
                    <h3>Experience</h3>
                    <p1>Tell us where you worked</p1>
                    <br>
                    <p2>Let hiring managers know where you worked and what you accomplished</p2>
                    <br>
                    <br>
                    <p3>
                        <p4>Job Title</p4><p5>Employer</p5>
                        <br>
                        <div class="flex-container">
                    
                            <input type="text" name="JobTitle" required>
                    
                            <input type="text" name="Employer" required>
                        </div>
                        <br>
                        Country
                        <br>
                        <input type="text" name="CountryExperience" required>
                        <br>
                        <br>
                        <p6>State / Region</p6><p7>City</p7>
                    <br>
                        <div class="flex-container">
                        
                            <input type="text" name="State" required>
                        
                            <input type="text" name="City" required>
                        </div>
                        <br>
                 
                        <p8>Start Date</p8>
                        <p9>End Date</p9>
                        <br>
                        <div class="flex-item">
                            <p10>
                                <select id="monthsSD" onclick="generateMonthsSD()" name="monthsSD" required></select>
                                
                            </p10>
                            <p11>
                                <select id="yearsSD" onclick="generateYearsSD()"name="yearsSD" required></select>
                            </p11>

                            <p12>
                                <select id="monthsED" onclick="generateMonthsED()" name="monthsED" ></select>
                            
                            </p12>
                            <p13>
                                <select id="yearsED" onclick="generateYearsED()" name="yearsED" ></select>
                            </p13>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkbox">
                                            <p14 style="font-weight: normal;">I currently work in this role.</p14>
                                        
                                        
                                        </div>
                                        
                                        <div class="error" style="font-weight: normal;" id="errorMessageContainer"></div>
                        <br>
                        <p3>
                    Achievements
                        <br>
                        <textarea value="Achievements" name="Achievements" placeholder="Enter each of your Achievement in new line." ></textarea>

                      
                       
                    </p3>
                    <br><br>
                <div class="flex-container" value="backAndNext">
                    <button id="backButton" onclick="takeBack()" type="button" value="back" class="button">Back</button>
                    <button id="nextButton" type="submit" value="next" class="button">Next</button>
                </div>
                </div>
            </div>

            </form>



        </main>
    </body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script defer>

         function generateMonthsSD() {
                const monthsSelect = document.getElementById('monthsSD') || document.getElementById('monthsED') ;

                for (let i = 1; i <= 12; i++) {
                    const monthOption = document.createElement('option');
                    const monthValue = i < 10 ? '0' + i : '' + i; 
                    monthOption.value = new Date(2023, i - 1, 1).toLocaleString('default', { month: 'long' });;
                    monthOption.text = new Date(2023, i - 1, 1).toLocaleString('default', { month: 'long' });
                    monthsSelect.appendChild(monthOption);
                }
            }
             function generateMonthsED() {
                    const monthsSelect =  document.getElementById('monthsED');

                    for (let i = 1; i <= 12; i++) {
                        const monthOption = document.createElement('option');
                        const monthValue = i < 10 ? '0' + i : '' + i;
                        monthOption.value = new Date(2023, i - 1, 1).toLocaleString('default', { month: 'long' });;
                        monthOption.text = new Date(2023, i - 1, 1).toLocaleString('default', { month: 'long' });
                        monthsSelect.appendChild(monthOption);
                    }
                }

         

        function generateYearsSD() {
                const yearsSelect = document.getElementById('yearsSD');

                for (let year = 2024; year >= 1950; year--) {
                    const yearOption = document.createElement('option');
                    yearOption.value = year;
                    yearOption.text = year;
                    yearsSelect.appendChild(yearOption);
                }
            }
            function generateYearsED() {
                    const yearsSelect = document.getElementById('yearsED');

                    for (let year = 2024; year >= 1950; year--) {
                        const yearOption = document.createElement('option');
                        yearOption.value = year;
                        yearOption.text = year;
                        yearsSelect.appendChild(yearOption);
                    }
                }

            function takeBack(){
                window.location.href = "/workHistory"
            }


    $(document).ready(function () {


        $("#nextButton").on("click", function (event) {
            event.preventDefault();
            console.log("Next button clicked");
            const jobTitle = $("input[name='JobTitle']").val();
            const employer = $("input[name='Employer']").val();
            const country = $("input[name='CountryExperience']").val();
            const state = $("input[name='State']").val();
            const city = $("input[name='City']").val();
             const achievements = $("textarea[name='Achievements']").val(); // Use 'textarea' and 'name'
            const monthSD = $("#monthsSD").val(); // Use 'select' and 'name'
            const yearSD = $("select[name='yearsSD']").val(); // Use 'select' and 'name'
            const monthED = $("select[name='monthsED']").val(); // Use 'select' and 'name'
            const yearED = $("select[name='yearsED']").val();
            const checkbox = $("input[name='checkbox']").val();

            $.post("/addExperience",  {
                JobTitle: jobTitle,
                Employer: employer,
                CountryExperience: country,
                State: state,
                City: city,
                Achievements: achievements,
                monthsSD: monthSD,
                yearsSD: yearSD,
                monthsED: monthED,
                yearsED: yearED,
                checkbox: checkbox
            })
                .done(function (response) {
                    // Handle the response here
                    if (response.error) {
                        // Display error message in the HTML
                        $("#errorMessageContainer").text(response.error);

                    } else if (response.success) {
                        // Redirect to homepage on success
                        window.location.href = "/workHistory";
                    }
                })
                .fail(function (error) {
                    console.error(error);
                });
        });
    });



          
        </script>


