<%- include('layout') %>

    <body>
        <main>
<form action = "/addEducation" method = "POST">

            <div class="card" value="addEducation">
                <div class="card-content" value="addEducation">
                    <h3>Education</h3>
                    <p1>Tell us about your education</p1>
                    <br>
                    <p2>Include every school, even if you are a current student or did not graduate</p2>
                    <br>
                    <br>
                    <p3>
                      School Name
                      <br>
                        <input type="text" name="SchoolName" required>
                        <br><br>
                        Degree
                        <input type="text" name="Degree" required>
                        <br>
                        <br>
                        Field of Study
                        <br>
                        <input type="text" name="FieldOfStudy" required>
                        <br><br>

                        <p6>Country</p6>
                        <p7>City</p7>
                        <br>
                        <div class="flex-container">
                        <input type="text" name="Country" required>
                        <input type="text" name="City" required>

                        </div>
                        <br>
                        
                

                        <p8>Start Date</p8>
                        <p9>End Date</p9>
                        <br>
                        <div class="flex-item">
                            <p10>
                                <select id="monthsSD" onclick="generateMonthsSD()" name="monthsSD" required></select>

                            </p10>
                            <p11>
                                <select id="yearsSD" onclick="generateYearsSD()" name="yearsSD" required></select>
                            </p11>

                            <p12>
                                <select id="monthsED" onclick="generateMonthsED()" name="monthsED" required></select>

                            </p12>
                            <p13>
                                <select id="yearsED" onclick="generateYearsED()" name="yearsED" required></select>
                            </p13>
                            <div class = "checkbox">
                                <input type="checkbox" name = "checkbox">
                                <p14 style="font-weight: normal;">I expect to graduate this date.</p14>
                                
                                
                            </div>

                            <div class = "error" style="font-weight: normal;" id="errorMessageContainer"></div>
                            
                        </div>
                        <br>
                </p3>
          
              
                <p3>
                    Achievements
                    <br>
                    <textarea value="Achievements" name="Achievements" placeholder="Enter each of your Achievement in new line." ></textarea>
                
                
                
                </p3>
                    <br><br>
                    <div class="flex-container" value="backAndNext">
                        <button id="backButton" onclick="takeBack()" type="button" value="back" class="button">Back</button>
                        <button id="nextButton" type="submit" value="next" class="button">Next</button>
                    </div>
                </div>
            </div>

            </form>



        </main>
    </body>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script defer>

        function generateMonthsSD() {
            const monthsSelect = document.getElementById('monthsSD') || document.getElementById('monthsED');

            for (let i = 1; i <= 12; i++) {
                const monthOption = document.createElement('option');
   
                monthOption.value = new Date(2023, i - 1, 1).toLocaleString('default', { month: 'long' });;
                monthOption.text = monthOption.value;
                monthsSelect.appendChild(monthOption);
            }
        }
        function generateMonthsED() {
            const monthsSelect = document.getElementById('monthsED');

            for (let i = 1; i <= 12; i++) {
                const monthOption = document.createElement('option');
                monthOption.value = new Date(2023, i - 1, 1).toLocaleString('default', { month: 'long' });;
                monthOption.text = monthOption.value;
                monthsSelect.appendChild(monthOption);
            }
        }



        function generateYearsSD() {
            const yearsSelect = document.getElementById('yearsSD');

            for (let year = 2024; year >= 1950; year--) {
                const yearOption = document.createElement('option');
                yearOption.value = year;
                yearOption.text = yearOption.value;
                yearsSelect.appendChild(yearOption);
            }
        }
        function generateYearsED() {
            const yearsSelect = document.getElementById('yearsED');

            for (let year = 2034; year >= 1950; year--) {
                const yearOption = document.createElement('option');
                yearOption.value = year;
                yearOption.text = yearOption.value;
                yearsSelect.appendChild(yearOption);
            }
        }

        function takeBack(){
            window.location.href = "/educationHistory";
        }

            $(document).ready(function () {


                    $("#nextButton").on("click", function (event) {
                        event.preventDefault();
                        console.log("Next button clicked");
                        const SchoolName = $("input[name='SchoolName']").val();
                        const Degree = $("input[name='Degree']").val();
                        const FieldOfStudy =  $("input[name='FieldOfStudy']").val();
                        const Country= $("input[name='Country']").val();
                        const City= $("input[name='City']").val();
                        const Achievements= $("textarea[name='Achievements']").val();
                        const monthsSD= $("#monthsSD").val();
                        const yearsSD= $("#yearsSD").val();
                        const monthsED= $("#monthsED").val();
                        const yearsED= $("#yearsED").val();
                        const checkbox = $("input[name='checkbox']").val();

                        $.post("/addEducation", {
                            SchoolName: SchoolName,
                            Degree: Degree,
                            FieldOfStudy: FieldOfStudy,
                            Country:Country,
                            City: City,
                            Achievements: Achievements,
                            monthsSD: monthsSD,
                            yearsSD: yearsSD,
                            monthsED: monthsED,
                            yearsED: yearsED,
                            checkbox: checkbox
                        })
                            .done(function (response) {
                                // Handle the response here
                                if (response.error) {
                                    // Display error message in the HTML
                                    $("#errorMessageContainer").text(response.error);

                                } else if (response.success) {
                                    // Redirect to homepage on success
                                    window.location.href = "/educationHistory";
                                }
                            })
                            .fail(function (error) {
                                console.error(error);
                            });
                    });
                });
            


    </script>


    </script>