<%- include('layout', {theme}) %>


    <body>
        <main>
            <div class="card" value = "Download">
                <div class="card-content" value="Download">
                        <img src="images/ready_to_download.png" alt="files" width="80%" height="50%" >
                        <br><br>
                        <h3>You’ve finished creating your resume!</h3>
                        <br>
                        <p1>Save your resume to download, print it, and send it</p1>
                        <br>
                        <br>
                        <form action="/download" method="POST">
                        <div class="flex-container" value="backAndNext">
                            <button id="backButton" onclick="takeBack()" type="button" value="back" class="button">Back</button>
                           
                                <button type="submit" value="Save" class="button">Save And Next</button>
                            
                        </div>
                    </form>
                    </div>
            </div>



        </main>
    </body>
    <script defer>

        function takeBack(){
            window.location.href = "/jobDescription";
        }



    </script>