<%- include('layout', {theme}) %>


    <body>
        <main>


            <div class="card">
                <div class="card-content" value="profile">
                    <h3>Education</h3>
                    <p1>Education History</p1>
                    <br>
                    <p2>Include every school, even if you are a current student or did not graduate </p2>
                    <br>
                    <br>

                    <button type="button" onclick="addEducation()" value="Add" class="button">Add New</button>
                    <br>
                    <button type="button" onclick="goToJobDescription()" value="next" class="button">Next</button>
                </div>
            </div>



        </main>
    </body>
    <script defer>
        function addEducation() {
            window.location.href = "/addEducation";
        }

        function goToJobDescription(){
            window.location.href = "/jobDescription";
        }



    </script>