<%- include('layout', {theme}) %>
<style>
body {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
     padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 200px;
      padding-right: 200px;
      

  }

  



  </style>
    <body>
            
        <main>
            <form action="/homepage" method="POST">

                <div class="flex-container" value = "homepage">
                    <div class="card" value="homepage1">
                        <div class="card-content" value="homepage1">

                        <img src="images/homepage_resume.png" alt="resume doodle" width="120" height="100">
                        
                            <h3>Create your best resume</h3>
                            <br>
                            <p1>Build a free resume that gets you interviewed by employers</p1>
                            <br><br><br>
                            <button type="button" onclick = "buildResume()" value = "buildResume" class="button">Build My Resume</button>
                        </div>
                    </div>

                    <div class="card" value="homepage2">
                        <div class="card-content" value="homepage2">
                            <div class="step1" value="step1">
                                <div class="card-content" value="step1">
                                    <div class = "flex-container" value = "steps">
                                    <img style = "padding-top:5px; margin-right: 330px;" src="images/step1.png" alt="resume doodle" width="80" height="100" > <div class = "step1Card">STEP 1</div>
                                    <br>
                                  
                                   
                                </div>
                                <p2 style="font-weight: bold;"> Choose one of our ATS-friendly resume templates.</p2>
                                </div>
                            </div>
                            <br>
                            <br>
                                
                            <div class="step2" value="step2">
                                <div class="card-content" value="step2">
                                    <div class="flex-container" value="steps">
                                    <img style="padding-top:5px; margin-right: 330px;" src="images/step2.png" alt="resume doodle" width="90" height="90">
                             
                                        <div class="step2Card">STEP 2</div>
                                        <br>
                                    
                                    
                                    </div>
                                

                          
                                <p2 style="font-weight: bold;"> Build your resume with our simple forms and helpful suggestions.</p2>
                                </div>

                            </div>
                            
                            <br>
                            <br>

                            <div class="step3" value="step3">
                                <div class="card-content" value="step3">
                                    <div class="flex-container" value="steps">
                                    <img style="padding-top:5px; margin-right: 330px;" src="images/step3.png" alt="resume doodle" width="90" height="100">
                                        <div class="step3Card">STEP 3</div>
                                        <br>
                                    
                                    
                                    </div>
                                    
                                  
                                   
                                    <p2 style="font-weight: bold;"> Download your resume to submit to employers.</p2>
                                </div>
                            
                            </div>

                           


                        </div>
                    </div>
                </div>


            </form>



        </main>
    </body>
    <script defer>

        function buildResume(){
            window.location.href = "/templates";
        }

    </script>