<%- include('layout') %>

    <style>
        body {
            color: white;
            background-color: black;

            padding-top: 100px;
            padding-bottom: 100px;
            padding-left: 330px;
            padding-right: 350px;
            text-align: justify;

        }

        header {
            color: white;
            background-color: black;
            font-weight: bold;
            font-size: 35px;
            text-shadow: 0px -1px mediumpurple,
                0px 4px mediumpurple;
            position: fixed;
            left: 20px;
            top: 10px;


        }

        input[type="text"],
        textarea {
            color: white;
            font-size: 20px;
            background-color: black;
            box-shadow: 4px 6px mediumpurple;
            height: 50px;
            width: 52%;
            border: 4px solid white;
            border-radius: 120px;
            position: fixed;
            left: 350px;
            top: 780px;

            padding-left: 18px;
            padding-right: 75px;

        }

        .button[value="enter"] {
            color: white;
            background-color: mediumpurple;
            height: 30px;
            width: 55px;
            border: 3px solid white;
            border-radius: 120px;
            position: fixed;
            left: 1071px;
            top: 790px;
        }
    </style>

    <main>


        <form>
            <p><input type="text" placeholder="Message ChatGPT..." required><button type="submit" value="enter"
                    class="button">Enter</p>
        </form>



    </main>