<%- include('layout', {theme}) %>
    <style>
        body {

            padding-top: 40px;
            padding-bottom: 100px;
            padding-left: 330px;
            padding-right: 350px;
            text-align: justify;

        }
    </style>
    <main>
        <form name="LogIn" action="/login" method="post">
            <div class="card" value="LogIn">
                <div class="card-content" value="LogIn">
                    <h3>Log in to your account</h3>
                    <br>
                    <p1>
                        Email-ID
                        <br>
                        <input type="text" name="em" required>
                        <br>
                        <br>
                        Password
              
                        <br>
                      
                            <input type="password" name="p" required>
                        <br>



                    </p1>
                    <br>
                    <br>
                    <br>
                    <button id = "logInButton" type="submit" value="LogIn" class="button">Log In</button>
                    <div id="errorMessageContainer">
                    </div>
                    <br>
                    <br>
                    <p4>Not registered? <a href="/signup" onclick="goToSignup()">Create an account</a></p4>




                </div>
            </div>
        </form>


       

    </main>



    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script defer>
        function goToSignup() {
            window.location.href = "/signup";
        }

 

        $(document).ready(function () {


            $("#logInButton").on("click", function (event) {
                event.preventDefault();

                var email = $("input[name='em']").val();
                var password = $("input[name='p']").val();

                // Make an AJAX POST request to /signup
                $.post("/login", { em: email, p: password })
                    .done(function (response) {
                        // Handle the response here
                        if (response.error) {
                            // Display error message in the HTML
                            console.log(response.error);
                            $("#errorMessageContainer").text(response.error);

                        } else if (response.success) {
                            // Redirect to homepage on success
                            window.location.href = "/resumePDF";
                        }
                    })
                    .fail(function (error) {
                        console.error(error);
                    });
            });
        });


    </script>