<%- include('layout',{theme}) %>


    <body>
        <main>
    
             
        
         
        <form action="/profile" method = "POST">
            <div class="card">
                <div class="card-content" value="profile">
                    <h3>Profile</h3>
                    <p1>Let employers know who you are</p1>
                    <br>
                    <p2>Include your full name and an email for employers to contact you </p2>
                    <br>
                    <br>

                    <p3>Full Name
                    <br>
                    <input type="text" name="FullName" required>
                    <br>
                    <br>
                    Email-ID
                    <br>
                    <input type="text" name="EmailID" required>
                    </p3>
                    <div id="errorMessageContainer"></div>
                    <br><br><br><br>

                    <div class = "flex-container" value = "backAndNext">
                        <button id="backButton" onclick="takeBack()" type="button" value="back" class="button">Back</button>
                    <button id = "nextButton" type="submit" value="next" class="button">Next</button>
                    </div>
                </div>
            </div>
            </form>



        </main>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script defer>

        function takeBack(){
            window.location.href = "/templates"
        }

        $(document).ready(function () {


                $("#nextButton").on("click", function (event) {
                    event.preventDefault();

                    // Make an AJAX POST request to /signup
                    var name = $("input[name='FullName']").val();
                    var email = $("input[name='EmailID']").val();
                   
                    // Make an AJAX POST request to /signup
                    $.post("/profile", { FullName: name, EmailID: email })
                        .done(function (response) {
                            // Handle the response here
                            if (response.error) {
                                // Display error message in the HTML
                                $("#errorMessageContainer").text(response.error);

                            } else if (response.success) {
                                // Redirect to homepage on success
                                window.location.href = "/basics";
                            }
                        })
                        .fail(function (error) {
                            console.error(error);
                        });
                });
            });

        
        


    </script>