<%- include('layout', {theme}) %>
<style>

 body {
      
     padding-top: 40px;
      padding-bottom: 100px;
      padding-left: 330px;
      padding-right: 350px;
      text-align: justify;

  }

</style>
<main>
    <form name="signUp" action="/signup" method="post">
        <div class="card" value="SignUp">
            <div class="card-content" value="SignUp">
                <h3>Create a free account to get your resume</h3>
                            
             <br>
               
                <p1>
                    Name
                    <br>
                    <input type="text" name="name" required>
                    <br>
                    <br>
                    Email-ID
                    <br>
                    <input type="text" name="em" required>
                    <br>
                    <br>
                   <p2>Create Password</p2><p3>Confirm Password</p3>
                    <br>
                    <div class="flex-container">
                        <input type="password" name="p" required>
                   
                        <input type="password" name="cp" required>
                    </div>
                    <br>
               
                  
                    
                </p1>


                <button id = "signUpButton" type="submit" value="su" class="button">Sign Up</button>
        
                <div id="errorMessageContainer"></div><br>
           
<p4>Already have an account? <a href="/login" onclick="goToLogin()">Log In</a></p4>

                <br>

                <button onclick=" goBack()" type="button" value="back" class="button">Back</button>


   


            </div>
        </div>
    </form>
  
    </main>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script defer>
        function goToLogin() {
                window.location.href = "/login";
            }

        $(document).ready(function () {


            $("#signUpButton").on("click", function (event) {
                event.preventDefault();

                // Make an AJAX POST request to /signup
                var name = $("input[name='name']").val();
                var email = $("input[name='em']").val();
                var password = $("input[name='p']").val();
                var confirmPassword = $("input[name='cp']").val();

                // Make an AJAX POST request to /signup
                $.post("/signup", { name: name, em: email, p: password, cp: confirmPassword })
                    .done(function (response) {
                        // Handle the response here
                        if (response.error) {
                            // Display error message in the HTML
                            $("#errorMessageContainer").text(response.error);

                        } else if (response.success) {
                            // Redirect to homepage on success
                            window.location.href = "/homepage";
                        }
                    })
                    .fail(function (error) {
                        console.error(error);
                    });
            });
        });


    </script>