  body {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 330px;
      padding-right: 350px;
      text-align: justify;

  }

  header {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 35px;
      text-shadow: 0px -1px mediumpurple,
          0px 4px mediumpurple;
      position: fixed;
      left: 20px;
      top: 10px;


  }

  input[name="in"],
  textarea {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      box-shadow: 4px 6px mediumpurple;
      height: 50px;
      width: 330px;
      border: 4px solid <%=theme==='Light' ? 'black': 'white' %>;

      border-radius: 120px;


      padding-left: 18px;
      padding-right: 18px;

      position: fixed;
      left: 550px;
      top: 200px;

  }

  input[name="q"],
  textarea {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      box-shadow: 4px 6px mediumpurple;
      height: 50px;
      width: 330px;
      border: 4px solid <%=theme==='Light' ? 'black': 'white' %>;

      border-radius: 120px;


      padding-left: 18px;
      padding-right: 18px;

      position: fixed;
      left: 550px;
      top: 310px;

  }

  input[name="name"],
  textarea {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      box-shadow: 4px 6px mediumpurple;
      height: 50px;
      width: 330px;
      border: 4px solid <%=theme==='Light' ? 'black': 'white' %>;

      border-radius: 120px;


      padding-left: 18px;
      padding-right: 18px;

      position: fixed;
      left: 550px;
      top: 170px;

  }

  input[name="em"],
  textarea {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      box-shadow: 4px 6px mediumpurple;
      height: 50px;
      width: 330px;
      border: 4px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 120px;


      padding-left: 18px;
      padding-right: 18px;

      position: fixed;
      left: 550px;
      top: 280px;

  }

  input[name="p"],
  textarea {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      box-shadow: 4px 6px mediumpurple;
      height: 50px;
      width: 330px;
      border: 4px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 120px;


      padding-left: 18px;
      padding-right: 18px;

      position: fixed;
      left: 550px;
      top: 390px;

  }

  input[name="cp"],
  textarea {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      box-shadow: 4px 6px mediumpurple;
      height: 50px;
      width: 330px;
      border: 4px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 120px;
      padding-left: 18px;
      padding-right: 18px;

      position: fixed;
      left: 550px;
      top: 500px;

  }


  .button[value="SignUp"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;

      background-color: mediumpurple;
      height: 45px;
      width: 200px;
      border: 4px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 120px;
      position: fixed;
      left: 538px;
      top: 400px;
  }

  .button[value="LogIn"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: mediumpurple;
      height: 45px;
      width: 200px;
      border: 4px solid <%=theme==='Light' ? 'black': 'white' %>;
      ;
      border-radius: 120px;
      position: fixed;
      left: 750px;
      top: 400px;
  }

  .button[value="Light"] {
      color: black;
      background-color: white;
      height: 45px;
      width: 200px;
      border: 4px solid white;
      border-radius: 120px;
      position: fixed;
      left: 538px;
      top: 400px;
      box-shadow: 4px 6px mediumpurple;
  }

  .button[value="Dark"] {
      color: white;
      background-color: black;
      height: 45px;
      width: 200px;
      border: 4px solid white;
      border-radius: 120px;
      position: fixed;
      left: 750px;
      top: 400px;
      box-shadow: 4px 6px mediumpurple;
  }


  .button[value="li"] {
      color: white;
      background-color: mediumpurple;
      height: 40px;
      width: 100px;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;

      border-radius: 120px;
      position: fixed;
      left: 668px;
      top: 500px;
  }

  .button[value="su"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;

      background-color: mediumpurple;
      height: 40px;
      width: 100px;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;


      border-radius: 120px;
      position: fixed;
      left: 668px;
      top: 580px;
  }

  .button[value="back"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;

      background-color: mediumpurple;
      height: 40px;
      width: 100px;
      border: 4px solid <%=theme==='Light' ? 'black': 'white' %>;

      border-radius: 120px;
      position: fixed;
      left: 669px;
      top: 690px;
  }

  input[name="inputbar"],
  textarea {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      box-shadow: 4px 6px mediumpurple;
      height: 50px;
      width: 52%;
      border: 4px solid <%=theme==='Light' ? 'black': 'white' %>;

      border-radius: 120px;
      position: fixed;
      left: 350px;
      top: 780px;

      padding-left: 18px;
      padding-right: 75px;

  }

  .button[value="enter"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 15px;
      background-color: mediumpurple;
      height: 30px;
      width: 55px;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 120px;
      position: fixed;
      left: 1071px;
      top: 790px;
  }

  .button[value="logout"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 16px;
      background-color: mediumpurple;
      height: 40px;
      width: 80px;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 120px;
      position: fixed;
      right: 400px;
      top: 50px;
      padding-top: 5px;
  }

  #errorMessageContainer {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      font-weight: bold;
      font-size: 30px;
      text-shadow: 0px 0px red,
          0px 2px red;
      text-align: center;
      position: relative;
      top: 670px;
  }